.container2{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-top: 18px;
    padding: 0 8px;
    

}

.container2 h1{
    margin: 14px 0;
}

.container2 img {
    width: 800px;
    max-width: 800px;
    max-height: 340px;
    object-fit:inherit;
}

.container2 h3{
    margin-top: 14px;
}

.container2 span{
    margin: 8px 0;
}

.button-ger button{
    
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    padding: 12px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
    background: rgb(28, 28, 213);
    color: #fff;
}

.button-ger button:hover{
    background:  rgb(128, 28, 70);
    color: #fff;
}

.button-ger a{
    text-decoration: none;
    color: #FFF;
}

.button-ger a:hover{

    color: #fff;
}